<!--=============== LOGIN ===============-->
<section class="section__login">

    <div class="section__container container grid">
        <div class="section__content container__shadow">
            <h3 class="section__title">Iniciar Sesión</h3>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm)">

                <ng-container *ngIf="username != null">
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        <div *ngIf="username.errors?.['required']">
                            El usuario es requerido.
                        </div>
                    </div>
                </ng-container>
                <div class="form-div">
                    <label for="username" class="form-tag">Usuario</label>
                    <input id="username" formControlName="username" type="text" placeholder="Inserta tu usuario"
                        class="form-input" required>
                </div>

                <ng-container *ngIf="password != null">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors?.['required']">
                            La contraseña es requerida.
                        </div>
                    </div>
                </ng-container>
                <div class="form-div">
                    <label for="password" class="form-tag">Contraseña</label>
                    <input id="password" formControlName="password" type="password" placeholder="Inserta tu contraseña"
                        class="form-input" required>
                </div>

                

                <ng-container *ngIf="!btnIsLoading">
                    <button [disabled]="loginForm.invalid" type="submit" class="button login__form-btn">Iniciar
                        sesión</button>
                </ng-container>
                <ng-container *ngIf="btnIsLoading">
                    <button disabled class="button__loader"><span class="button__text">Iniciando sesion...</span></button>
                </ng-container>
                
                <div class="text-center">
                    <a [routerLink]="['forgot-password']" class="link mt-2">Olvidaste tu contraseña ?</a>
                </div>
            </form>
        </div>
        
        <div class="divider-break">
            <h5 class="">Eres nuevo ?</h5>
        </div>
        <button type="button" [routerLink]="['/register']" class="button login__form-btn">Crear cuenta nueva</button>
    </div>
</section>