.divider-break {
    display: block;
    text-align: center;
    position: relative;
    top: 2px;
    padding-top: 1px;
    line-height: 0;
    box-sizing: border-box;
    margin-bottom: -10px;
}

.divider-break::after{
    content: "";
    width: 100%;
    background-color: transparent;
    display: block;
    height: 1px;
    border-top: 1px solid #e7e7e7;
    position: absolute;
    top: 50%;
    margin-top: -1px;
    z-index: 1;
}

.divider-break h5 {
    margin-top: 0.1rem;
    line-height: 1;
    font-weight: 400;
    z-index: 2;
    position: relative;
    display: inline-block;
    background-color: #fff;
    padding: 0 8px 0 7px;
    font-size: var(--smaller-font-size);
    color: var(--first-color);
}

/*=============== BREAKPOINTS ===============*/
/* For x-small devices */
@media screen and (max-width: 320px){
    .section__register {
        padding: 1rem 0.25rem 1rem; /*Top, X, Bottom*/
    }
}

/* For small devices */
@media screen and (min-width: 321px){
    .section__register {
        padding: 1rem 0.25rem 1rem; /*Top, X, Bottom*/
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .section__register {
        padding: 5.5rem 10rem 1rem; /*Top, X, Bottom*/
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .section__register {
        padding: 1.5rem 37.5rem 1rem; /*Top, X, Bottom*/
    }
}

/* For extra-large devices */
@media screen and (min-width: 1024px) {
    .section__register {
        padding: 3.75rem 15.5rem 1rem; /*Top, X, Bottom*/
    }
}

/* For ultra-extra-large devices */
@media screen and (min-width: 1440px) {
    .section__register {
        padding: 6.5rem 40.5rem 1rem; /*Top, X, Bottom*/
    }
}