.main {
    position: absolute;
    width: 100%;
    background: var(--first-color);
    transition: 0.5s;
}

.topbar {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 10px;
}

.search {
    position: relative;
    left: 50%;
    width: 400px;
    margin: 0 10px;
}

.search label {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    padding: 5px 20px;
    padding-left: 35px;
    font-size: 18px;
    outline: none;
    border: 1px solid var(--black2);
}

.search label i {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 1.5em;
}

.user_icon {
    position: relative;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
}

.user_icon img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    object-fit: cover;
}

.navigation.active {
    width: 80px;
}

.main.active {
    width: calc(100% - 80px);
    left: 80px;
}

.navbar>.container,
.navbar>.container-fluid,
.navbar>.container-lg,
.navbar>.container-md,
.navbar>.container-sm,
.navbar>.container-xl,
.navbar>.container-xxl {
    justify-content: end;
}

.collapse ul li a {
    padding: 10px;
    border-radius: 25%;
    text-decoration: none;
    color: var(--container-color);
}

.collapse ul li a:hover {
    color: var(--first-color);
    background-color: var(--container-color);
}