<section class="section__create-parameterType">
    <h2 class="section__title">Registrar tipo de parámetro <span><i class='bx bx-user'></i></span></h2>
    
    <form autocomplete="off" [formGroup]="createParameterTypeForm" (ngSubmit)="onSubmit(createParameterTypeForm)">

        <div class="form-div">
            <label for="description" class="form-tag">Descripción *</label>
            <input id="first_name" formControlName="description" type="text" placeholder="Ingrese la descripción del tipo de parámetro"
                class="form-input" required>
        </div>

        <button [disabled]="createParameterTypeForm.invalid" type="submit" class="button login__form-btn">Guardar Parámetro</button>
    </form>
</section>