/*=============== BREAKPOINTS ===============*/
/* For x-small devices */
@media screen and (max-width: 320px){
    .section {
        padding: 1.5rem 0rem 8rem;
    }
}

/* For small devices */
@media screen and (min-width: 321px){
    .section {
        padding: 1.5rem 1rem 8rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .section {
        padding: 1.5rem 1rem 8rem;
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .section {
        padding: 1.5rem 15rem 8rem;
    }
}