<!--=============== LOGIN ===============-->
<section class="section__login">

    <div class="section__container container grid">
        <div class="section__content container__shadow">
            <h3 class="section__title" style="margin-bottom: 0.1rem !important;">Restablecer contraseña</h3>

            <h5 class="section__subtitle" style="color: var(--text-color-gray);">
                Díganos el nombre de usuario y la dirección de correo electrónico asociados con su cuenta y le
                enviaremos un correo electrónico con un enlace para restablecer su contraseña.
            </h5>

            <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit(forgotPasswordForm)">

                <ng-container *ngIf="username != null">
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        <div *ngIf="username.errors?.['required']">
                            El usuario es requerido.
                        </div>
                    </div>
                </ng-container>
                <div class="form-div">
                    <label for="username" class="form-tag"><span class="section__subtitle">Usuario</span></label>
                    <input id="username" formControlName="username" type="text" placeholder="Inserta tu usuario"
                        class="form-input" required>
                </div>

                <ng-container *ngIf="email != null">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors?.['required']">
                            El correo electronico es requerido.
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            Debe ingresar un correo electronico valido.
                        </div>
                    </div>
                </ng-container>
                <div class="form-div">
                    <label for="email" class="form-tag"><span class="section__subtitle">Correo
                            electrónico</span></label>
                    <input formControlName="email" type="email" placeholder="Inserta tu correo electrónico"
                        class="form-input" required>
                </div>

                <button [disabled]="forgotPasswordForm.invalid" type="submit" class="button login__form-btn">Restablecer
                    contraseña</button>

            </form>
        </div>
    </div>
</section>