.bg-cover {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.btn-login:hover {
    background-color: #146e71;
}

.btn-login {
    position: absolute;
    top: 0;
    left: 0;
    margin: 1rem;
    background-color: #1d9a9e;
    border-color: #1d9a9e;
}

.logos-partners {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    bottom: 4.5rem;
}

.logos-partners img {
    width: 75px;
    height: 75px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    font-family: 'Nunito', sans-serif;
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
}

@media (max-width: 767px) {
    .btn-login {
        position: static;
        margin: 1rem auto;
        display: block;
        background-color: #146e71;
    }

    .btn-login:hover {
        background-color: #0e4b4d;
    }
}