<div class="bg-cover d-flex flex-column justify-content-center align-items-center" [style.backgroundImage]="'url(' + welcomeImg + ')'">
    <div class="content">
      <button (click)="login()" class="btn btn-primary btn-login">Iniciar sesión</button>
    </div>
    <div class="logos-partners">
      <img src="assets/images/logos/unibarranquilla.png" alt="unibarranquilla">
      <img src="assets/images/logos/uniautonoma.jpg" alt="uniautonoma">
      <img src="assets/images/logos/universidad_magdalena.png" alt="universidad_magdalena">
    </div>

    <div class="footer" style="font-weight: 600">
        <p style="text-align: center">Fundación Hogares Claret. Copyright © 2022 Todos los derechos reservados.</p>
        <p style="text-align: center">Desarrollado Por: Institución Universitaria de Barranquilla, Universidad Autónoma del Caribe y Universidad del Magdalena.</p>
    </div>
  </div>