<section class="section__create-patient">
    <h2 class="section__title">Nuevo paciente <span><i class='bx bx-user'></i></span></h2>
    
    <form autocomplete="off" [formGroup]="createPatientForm" (ngSubmit)="onSubmit(createPatientForm)">

        <ng-container *ngIf="id != null">
            <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert alert-danger">
                <div *ngIf="id.errors?.['required']">
                    El código es requerido.
                </div>
                <div *ngIf="id.errors?.['maxlength']">
                    El código debe ser Máximo de 20 caracteres.
                </div>
            </div>
        </ng-container>
        <div class="form-div">
            <label for="id" class="form-tag">Código *</label>
            <input id="id" formControlName="id" type="number" placeholder="Ingrese el código"
                class="form-input" required>
        </div>

        <ng-container *ngIf="group != null">
            <div *ngIf="group.invalid && (group.dirty)" class="alert alert-danger">
                <div *ngIf="group.errors?.['required']">
                    El grupo es requerido.
                </div>
            </div>
        </ng-container>
        <div class="form-div">
            <label for="group" class="form-tag">Grupo *</label>
            <input id="group" formControlName="group" type="text" placeholder="Ingrese el grupo"
                class="form-input" required>
        </div>

        <ng-container *ngIf="subject != null">
            <div *ngIf="subject.invalid && (subject.dirty)" class="alert alert-danger">
                <div *ngIf="subject.errors?.['required']">
                    El tipo de sujeto es requerido.
                </div>
            </div>
        </ng-container>
        <div class="form-div">
            <label for="subject" class="form-tag">Sujeto *</label>
            <select formControlName="subject" class="custom-select" required>
                <option selected disabled value="">Seleccionar...</option>
                <option [value]="1">Infractor</option>
                <option [value]="0">No Infractor</option>
            </select>
        </div>

        <ng-container *ngIf="gender != null">
            <div *ngIf="gender.invalid && (gender.dirty)" class="alert alert-danger">
                <div *ngIf="gender.errors?.['required']">
                    El tipo de sujeto es requerido.
                </div>
            </div>
        </ng-container>
        <div class="form-div">
            <label for="gender" class="form-tag">Genero *</label>
            <select formControlName="gender" class="custom-select" required>
                <option selected disabled value="">Seleccionar...</option>
                <option value="m">Masculino</option>
                <option value="f">Femenino</option>
            </select>
        </div>

        <ng-container *ngIf="first_name != null">
            <div *ngIf="first_name.invalid && (first_name.dirty)" class="alert alert-danger">
                <div *ngIf="first_name.errors?.['minlength']">
                    El nombre debe ser Mínimo de 3 caracteres.
                </div>
                <div *ngIf="first_name.errors?.['maxlength']">
                    El nombre debe ser Máximo de 50 caracteres.
                </div>
            </div>
        </ng-container>
        <div class="form-div">
            <label for="first_name" class="form-tag">Nombres</label>
            <input id="first_name" formControlName="first_name" type="text" placeholder="Ingrese el nombre"
                class="form-input">
        </div>
        
        <ng-container *ngIf="age != null">
            <div *ngIf="age.invalid && (age.dirty)" class="alert alert-danger">
                <div *ngIf="age.errors?.['required']">
                    La edad es requerida.
                </div>
            </div>
        </ng-container>
        <div class="form-div">
            <label for="age" class="form-tag">Edad *</label>
            <input id="age" formControlName="age" type="number" placeholder="Ingrese la edad"
                class="form-input" required>
        </div>

        <ng-container *ngIf="socioeconomic_status != null">
            <div *ngIf="socioeconomic_status.invalid && (socioeconomic_status.dirty || socioeconomic_status.touched)"
                class="alert alert-danger">
                <div *ngIf="socioeconomic_status.errors?.['required']">
                    Los estrato socioeconomico es requerido.
                </div>
            </div>
        </ng-container>
        <div class="form-div">
            <label for="socioeconomic_status" class="form-tag">Estrato socioeconomico *</label>
            <select formControlName="socioeconomic_status" class="custom-select" required>
                <option selected disabled value="">Seleccionar...</option>
                <option value="1">Nivel 1</option>
                <option value="2">Nivel 2</option>
                <option value="3">Nivel 3</option>
                <option value="4">Nivel 4</option>
                <option value="5">Nivel 5</option>
                <option value="6">Nivel 6</option>
            </select>
        </div>

        <ng-container *ngIf="schooling_level != null">
            <div *ngIf="schooling_level.invalid && (schooling_level.dirty || schooling_level.touched)"
                class="alert alert-danger">
                <div *ngIf="schooling_level.errors?.['required']">
                    El nivel de escolaridad es requerido.
                </div>
            </div>
        </ng-container>
        <div class="form-div">
            <label for="schooling_level" class="form-tag">Nivel de escolaridad *</label>
            <select formControlName="schooling_level" class="custom-select" required>
                <option selected disabled value="">Seleccionar...</option>
                <option value="agrafo">Agrafo</option>
                <option value="preescolar">Preescolar</option>
                <option value="básica primaria">Básica Primaria</option>
                <option value="básica secundaria">Básica Secundaria</option>
                <option value="media">Media</option>
                <option value="técnico">Técnico</option>
                <option value="universitario">Universitario</option>
                <option value="postgrado">Postgrado</option>
                <option value="no registra">No registra</option>
            </select>
        </div>

        <div class="form-div">
            <label for="institutions_id" class="form-tag">Institución</label>
            <select formControlName="institutions_id" class="custom-select">
                <option selected disabled value="">Seleccionar...</option>
                <option *ngFor="let institution of institutions" [value]="institution.id">{{institution.name}}</option>
            </select>
        </div>
    
        <ng-container *ngIf="study_years != null">
            <div *ngIf="study_years.invalid && (study_years.dirty || study_years.touched)" class="alert alert-danger">
                <div *ngIf="study_years.errors?.['required']">
                    Los años de estudio es requerido.
                </div>
                <div *ngIf="study_years.errors?.['min']">
                    El Mínimo de años de estudio es 0.
                </div>
            </div>
        </ng-container>
        <div class="form-div">
            <label for="study_years" class="form-tag">Años de estudio *</label>
            <input id="study_years" formControlName="study_years" type="number" placeholder="Ingrese los años de estudio"
                class="form-input" min="0" required>
        </div>

        <ng-container *ngIf="!btnIsLoading">
            <button [disabled]="createPatientForm.invalid" type="submit" class="button">Guardar Paciente</button>
        </ng-container>
        <ng-container *ngIf="btnIsLoading">
            <button disabled class="button__loader"><span class="button__text">Guardando Paciente...</span></button>
        </ng-container>
    </form>
</section>