.form-div {
    position: relative;
    margin-bottom: 1.5rem;
    height: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For x-small devices */
@media screen and (max-width: 320px){
    .section {
        padding: 1.5rem 0rem 8rem;
    }

    .content-stepper {
        margin-left: -1.5rem !important;
    }

    .section__content {
        background-color: var(--container-color);
        padding: 1.5rem;
        border-radius: 1.25rem;
    }
}

/* For small devices */
@media screen and (min-width: 321px){
    .section {
        padding: 1.5rem 1rem 8rem;
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .section {
        padding: 1.5rem 1rem 8rem;
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .section {
        padding: 1.5rem 4rem 8rem;
    }
}