<section class="section__create-parameterType">
    <h2 class="section__title">Editar Parámetro <span><i class='bx bx-user'></i></span></h2>
    
    <form autocomplete="off" [formGroup]="editParameterForm" (ngSubmit)="onSubmit(editParameterForm)">

        <div class="form-div">
            <label for="description" class="form-tag">Descripción *</label>
            <input id="first_name" formControlName="description" type="text" placeholder="Ingrese el nombre del parámetro"
                class="form-input" required>
        </div>
        <div class="form-div">
            <label for="code" class="form-tag">Código *</label>
            <input id="code" formControlName="code" type="text" placeholder="Ingrese el código del parámetro"
                class="form-input" required>
        </div>

        <button [disabled]="editParameterForm.invalid" type="submit" class="button login__form-btn">Actualizar Parámetro</button>
    </form>
</section>