<div class="section">
    <div class="section__content container__shadow mx-3">
        <h2 class="section__title">Reporte de segmento MRI: {{ description }}<span></span></h2>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-div">
                    <label for="subject" class="form-tag">Tipo de Sujeto *</label>
                    <select [formControl]="subject" class="custom-select" required>
                        <option selected value="">Todos</option>
                        <option value="1">Infractor</option>
                        <option value="0">No infractor</option>
                    </select>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-div">
                    <label for="subject" class="form-tag">Tipo de grafico *</label>
                    <select [formControl]="chartType" class="custom-select" required>
                        <option selected value="">Todos</option>
                        <option value="1">Barras</option>
                        <option value="2">Cajas y bigotes</option>
                    </select>
                </div>
            </div>
        </div>

        <hr>

        <div class="row">
            <div class="col-3 text-center">
                <h2><b>Promedio: </b>{{ mriAvg }}</h2>
            </div>
            <div class="col-3 text-center">
                <h2><b>Mediana: </b>{{ mriMedian }}</h2>
            </div>
            <div class="col-3 text-center">
                <h2><b>Mínimo: </b>{{ minMri }}</h2>
            </div>
            <div class="col-3 text-center">
                <h2><b>Máximo: </b>{{ maxMri }}</h2>
            </div>
        </div>

        <div class="row">
            <div class="w-50 mx-auto mt-4">
                <canvas [ngClass]="{
                    'd-none': chartType.value !== '1',
                    'd-block': chartType.value === '1'
                }" #canvas id="canvas"></canvas>

                <canvas [ngClass]="{
                    'd-none': chartType.value !== '2',
                    'd-block': chartType.value === '2'
                }" #canvasBoxPlot id="canvasBoxPlot"></canvas>
            </div>
        </div>
    </div>
</div>