/*=============== BREAKPOINTS ===============*/
/* For x-small devices */
@media screen and (max-width: 320px){
    .section__reset-password {
        padding: 2.5rem 0.25rem 1rem; /*Top, X, Bottom*/
    }
}

/* For small devices */
@media screen and (min-width: 321px){
    .section__reset-password {
        padding: 2.5rem 0.25rem 1rem; /*Top, X, Bottom*/
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .section__reset-password {
        padding: 2.5rem 5.5rem 1rem; /*Top, X, Bottom*/
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .section__reset-password {
        padding: 2.5rem 37.5rem 1rem; /*Top, X, Bottom*/
    }
}