<!--=============== LOGIN ===============-->
<section class="section__reset-password">

    <div class="section__container container grid">
        <div class="section__content container__shadow">
            <h3 class="section__title" style="margin-bottom: 0.1rem !important;">Restablecer contraseña</h3>

            <h5 class="section__subtitle" style="color: var(--text-color-gray);">
                Ingrese nuevamente su usuario, correo electronico y la nueva contraseña para restablecerla.
            </h5>

            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm)">

                <ng-container *ngIf="username != null">
                    <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
                        <div *ngIf="username.errors?.['required']">
                            El usuario es requerido.
                        </div>
                    </div>
                </ng-container>
                <div class="form-div">
                    <label for="username" class="form-tag"><span class="section__subtitle">Usuario</span></label>
                    <input id="username" formControlName="username" type="text" placeholder="Inserta tu usuario"
                        class="form-input" required>
                </div>

                <ng-container *ngIf="email != null">
                    <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
                        <div *ngIf="email.errors?.['required']">
                            El correo electronico es requerido.
                        </div>
                        <div *ngIf="email.errors?.['email']">
                            Debe ingresar un correo electronico valido.
                        </div>
                    </div>
                </ng-container>
                <div class="form-div">
                    <label for="email" class="form-tag"><span class="section__subtitle">Correo
                            electrónico</span></label>
                    <input formControlName="email" type="email" placeholder="Inserta tu correo electrónico"
                        class="form-input" required>
                </div>

                <ng-container *ngIf="password != null">
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
                        <div *ngIf="password.errors?.['required']">
                            La contraseña es requerida.
                        </div>
                        <div *ngIf="password.errors?.['minlength']">
                            La contraseña debe ser Mínimo de 6 caracteres.
                        </div>
                        <div *ngIf="password.errors?.['maxlength']">
                            La contraseña debe ser Máximo de 100 caracteres.
                        </div>
                    </div>
                </ng-container>
                <div class="form-div">
                    <label for="password" class="form-tag"><span class="section__subtitle">Nueva contraseña</span></label>
                    <input formControlName="password" type="password" placeholder="Inserta la nueva contraseña"
                        class="form-input" required>
                </div>

                <ng-container *ngIf="confirm_password != null">
                    <div *ngIf="confirm_password.invalid && (confirm_password.dirty || confirm_password.touched)" class="alert alert-danger">
                        <div *ngIf="confirm_password.errors?.['required']">
                            La confirmacion de contraseña es requerida.
                        </div>
                        <div *ngIf="confirm_password.errors?.['mustMatch']">
                            No coinciden las contraseñas.
                        </div>
                    </div>
                </ng-container>
                <div class="form-div">
                    <label for="confirm_password" class="form-tag"><span class="section__subtitle">Confirmar Contraseña</span></label>
                    <input formControlName="confirm_password" type="password"
                        placeholder="Inserta nuevamente la contraseña" class="form-input" required>
                </div>

                <button [disabled]="resetPasswordForm.invalid" type="submit" class="button login__form-btn">Restablecer
                    contraseña</button>

            </form>
        </div>
    </div>
</section>