.form-div {
    position: relative;
    margin-bottom: 1.5rem;
    height: 3rem;
}

/*=============== BREAKPOINTS ===============*/
/* For x-small devices */
@media screen and (max-width: 320px){
    .section__create-user {
        padding: 0rem 0rem 1rem; /*Top, X, Bottom*/
    }

    .container {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .section__container {
        padding-right: 0.6rem;
    }

}

/* For small devices */
@media screen and (min-width: 321px){
    .section__create-user {
        padding: 0rem 0.25rem 1rem; /*Top, X, Bottom*/
    }
}

/* For medium devices */
@media screen and (min-width: 576px){
    .section__create-user {
        padding: 0.1rem 5.5rem 1rem; /*Top, X, Bottom*/
    }
}

/* For large devices */
@media screen and (min-width: 992px) {
    .section__create-user {
        padding: 0.2rem 4.5rem 1rem; /*Top, X, Bottom*/
    }
}