:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/

    --first-hue: 207;
    --sat: 90%;
    --lig: 72%;
    --second-hue: 219;

    --complementary-hue: 27;
    --analagous-l-hue: 237;
    --analagous-r-hue: 177;

    --first-color: hsl(var(--first-hue), var(--sat), var(--lig));
    --first-color-alt: hsl(var(--first-hue), var(--sat), 68%);
    --first-color-disabled: hsl(var(--first-hue), var(--sat), 80%);

    --complementary-color: hsl(var(--complementary-hue), var(--sat), var(--lig));
    --complementary-color-alt: hsl(var(--complementary-hue), var(--sat), 68%);

    --analagous-l-color: hsl(var(--analagous-l-hue), var(--sat), var(--lig));
    --analagous-l-color-alt: hsl(var(--analagous-l-hue), var(--sat), 68%);

    --analagous-r-color: hsl(var(--analagous-r-hue), var(--sat), 68%);
    --analagous-r-color-alt: hsl(var(--analagous-r-hue), var(--sat), 62%);

    --title-color: hsl(var(--second-hue), 15%, 15%);
    --text-color: hsl(var(--second-hue), 4%, 55%);
    --text-color-dark: hsl(0, 0%, 1%, .1);
    --text-color-gray: hsl(0, 0%, 50%);
    --body-color: hsl(var(--second-hue), 100%, 99%);
    --container-color: #fff;

    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 1.75rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    --tiny-font-size: .625rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semibold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Responsive typography */
@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;
}

body,
button,
input,
textarea {
    overflow: hidden;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

table {
    margin-top: 1rem;
    width: 100%;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
    max-width: 968px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.table-container-scroll {
    margin-top: 1rem;
    position: relative;
    overflow: auto;
}

.container__shadow {
    box-shadow: 0 2px 16px hsla(var(--second-hue), 48%, 8%, .1);
}

.grid {
    display: grid;
    gap: 1.25rem;
}

.main {
    overflow: hidden;
}

.section {
    padding: 1.5rem 1rem 2rem;
}

.section__title {
    text-align: center;
    font-size: var(--h2-font-size) !important;
    font-weight: var(--font-medium);
    color: var(--first-color);
    margin-bottom: 1.5rem;
}

.section__subtitle {
    display: block;
    font-size: var(--h3-font-size) !important;
    color: var(--first-color);
}

.section__subtitle-bold {
    display: block;
    font-size: var(--h3-font-size) !important;
    font-weight: var(--font-medium) !important;
    color: var(--first-color);
}

.text__tiny {
    font-size: var(--tiny-font-size);
}

/*=============== BUTTONS ===============*/
.button {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color) !important;
    font-size: var(--normal-font-size);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semibold);
    width: 100%;
    transition: .4s;
    text-align: center;
}

.button:hover {
    background-color: var(--first-color-alt);
    color: var(--body-color);
}

.button:disabled {
    background-color: var(--first-color-disabled);
    color: var(--body-color);
}

.button-alt {
    display: inline-block;
    background-color: var(--first-color-alt);
    color: var(--body-color) !important;
    font-size: var(--normal-font-size);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semibold);
    width: 100%;
    transition: .4s;
    text-align: center;
}

.button-alt:hover {
    background-color: var(--body-color) !important;
    color: var(--first-color-alt) !important;
}

.button--ghost {
    background-color: transparent;
    border: 2px solid var(--first-color);
    color: var(--first-color);
}

.button-orange {
    display: inline-block;
    background-color: var(--complementary-color);
    color: var(--body-color) !important;
    font-size: var(--normal-font-size);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semibold);
    width: 100%;
    transition: .4s;
    text-align: center;
}

.button-orange:hover {
    background-color: var(--complementary-color-alt) !important;
    color: var(--body-color) !important;
}

.button-purple {
    display: inline-block;
    background-color: var(--analagous-l-color);
    color: var(--body-color) !important;
    font-size: var(--normal-font-size);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semibold);
    width: 100%;
    transition: .4s;
    text-align: center;
}

.button-purple:hover {
    background-color: var(--analagous-l-color-alt) !important;
    color: var(--body-color) !important;
}

.button-cian {
    display: inline-block;
    background-color: var(--analagous-r-color);
    color: var(--body-color) !important;
    font-size: var(--normal-font-size);
    padding: .75rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semibold);
    width: 100%;
    transition: .4s;
    text-align: center;
}

.button-cian:hover {
    background-color: var(--analagous-r-color-alt) !important;
    color: var(--body-color) !important;
}

/*=============== BUTTONS SMALLS ===============*/

.button-sm {
    display: inline-block;
    background-color: var(--first-color);
    color: var(--body-color);
    padding: .50rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semibold);
    transition: .4s;
}

.button-sm:hover {
    background-color: var(--first-color-alt);
    color: var(--body-color);
}

.button-sm-orange {
    display: inline-block;
    background-color: var(--complementary-color);
    color: var(--body-color) !important;
    padding: .50rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semibold);
    transition: .4s;
}

.button-sm-orange:hover {
    background-color: var(--complementary-color-alt);
    color: var(--body-color);
}

.button-sm-purple {
    display: inline-block;
    background-color: var(--analagous-l-color);
    color: var(--body-color) !important;
    padding: .50rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semibold);
    transition: .4s;
}

.button-sm-purple:hover {
    background-color: var(--analagous-l-color-alt);
    color: var(--body-color);
}

.button-sm-cian {
    display: inline-block;
    background-color: var(--analagous-r-color);
    color: var(--body-color) !important;
    padding: .50rem 1rem;
    border-radius: .5rem;
    font-weight: var(--font-semibold);
    transition: .4s;
}

.button-sm-cian:hover {
    background-color: var(--analagous-r-color-alt);
    color: var(--body-color);
}

/*=============== LINKS ===============*/
.link {
    display: inline-block;
    color: var(--text-color-gray);
    text-decoration: none;
    transition: .4s;
    cursor: pointer;
}

.link:hover {
    text-decoration: underline !important;
}

/*=============== HEADER AND SIDEBAR ===============*/
.principal-container {
    width: 100%;
    height: 100%;
}

.toggle-button {
    color: var(--body-color);
    position: relative;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    cursor: pointer;
}

.sidenav {
    padding: 20px;
    width: 200px;
    background: var(--first-color);
}

.mat-drawer-side {
    border-right: none;
}


/*=============== INPUT ===============*/
.form-div {
    position: relative;
    margin-bottom: 2rem;
    height: 4rem;
}

.form-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid var(--text-color-dark);
    background: none;
    color: var(--text-color);
    outline: none;
    padding: 1.5rem;
    border-radius: .75rem;
    z-index: 1;
}

.form-input:disabled {
    background: var(--text-color-dark);
    color: var(--text-color);
}

.form-tag {
    position: absolute;
    top: -.75rem;
    left: 1.25rem;
    font-size: var(--smaller-font-size);
    padding: .25rem;
    background-color: var(--container-color);
    z-index: 10;
    border-radius: 1rem;
    color: var(--first-color);
}

.form-area {
    height: 11rem;
    resize: none;
}

/*=============== INPUT SEARCH ===============*/
.search {
    position: relative;
    width: 400px;
    margin: 0 10px;
}

.search label {
    position: relative;
    width: 100%;
}

.search label input {
    width: 100%;
    height: 40px;
    border-radius: .75rem;
    padding: 5px 20px;
    padding-left: 35px;
    outline: none;
    border: 1px solid var(--text-color-dark);
    color: var(--text-color);
}

.search-icon {
    position: absolute;
    top: 13px;
    left: 10px;
}

/*=============== SELECT ===============*/
.custom-select {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: .75rem;
    padding: 5px 20px;
    outline: none;
    border: 2px solid var(--text-color-dark);
    color: var(--text-color);
    margin-bottom: 2rem;
}

/*=============== SECTION CONTENT ===============*/

.section__container {
    padding-right: 2.75rem;
}

.section__content {
    background-color: var(--container-color);
    padding: 1.5rem;
    border-radius: 1.25rem;
}

.section__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
}

.section__group {
    display: grid;
    align-content: flex-start;
    row-gap: 1rem;
}

.section__data {
    display: flex;
    column-gap: .5rem;
}

.section .bxs-badge-check {
    font-size: 1rem;
    color: var(--first-color);
}


.section__name {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    line-height: 15px;
}

/********* LOADING BUTTON STYLES*************/
.button__loader {
    width: 100%;
    border: none;
    outline: none;
    position: relative;
    padding: .75rem 1rem;
    background-color: var(--first-color);
    color: var(--text-color);
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    border-radius: .5rem;
    box-shadow: 0 18px 40px hsla(231, 56%, 56%, .3);
    overflow: hidden;
    cursor: wait;
}

.button__loader::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    background: repeating-linear-gradient(60deg,
            transparent,
            transparent 0.75rem,
            var(--first-color-alt) 0.75rem,
            var(--first-color-alt) 1.5rem);
    animation: load 1s infinite linear;
}

.button__text {
    color: var(--body-color);
    position: relative;
    font-size: var(--normal-font-size);
    font-weight: var(--font-semibold);
}

/* Loading button animation */
@keyframes load {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-1.75rem);
    }
}

/*=============== BREAKPOINTS ===============*/

/* For x-small devices */
@media screen and (max-width: 320px){
    .principal-container {
        width: 100%;
        height: 852px;
    }
}

/* For small devices */
@media screen and (min-width: 375px){
    .principal-container {
        width: 100%;
        height: 852px;
    }
}

/* For medium devices */
@media screen and (min-width: 425px){
    .principal-container {
        width: 100%;
        height: 852px;
    }
}

/* For large devices */
@media screen and (min-width: 768px) {
    .principal-container {
        width: 100%;
        height: 852px;
    }
}

/* For extra-large devices */
@media screen and (min-width: 1024px) {
    .principal-container {
        width: 100%;
        height: 852px;
    }
}

/* For ultra-extra-large devices */
@media screen and (min-width: 1440px) {
    .principal-container {
        width: 100%;
        height: 896px;
    }
}

/* For full-ultra-extra-large devices (4K) */
@media screen and (min-width: 1440px) {
    .principal-container {
        width: 100%;
        height: 1420px;
    }
}