<section class="section__create-test_type">
    <h2 class="section__title">Editar Proceso <span><i class='bx bx-user'></i></span></h2>
    
    <form autocomplete="off" [formGroup]="editTaskForm" (ngSubmit)="onSubmit(editTaskForm)">

        <div class="form-div">
            <label for="description" class="form-tag">Descripción *</label>
            <input id="first_name" formControlName="description" type="text" placeholder="Ingrese descripción de proceso"
                class="form-input" required>
        </div>
        <div class="form-div">
            <label for="max_score" class="form-tag">Puntaje Maximo *</label>
            <input id="max_score" formControlName="max_score" type="text" placeholder="Ingrese el puntaje maximo"
                class="form-input" required>
        </div>
        <div class="form-div">
            <label for="min_score" class="form-tag">Puntaje Minimo *</label>
            <input id="min_score" formControlName="min_score" type="text" placeholder="Ingrese el puntaje minimo"
                class="form-input" required>
        </div>

        <button [disabled]="editTaskForm.invalid" type="submit" class="button login__form-btn">Actualizar Prueba</button>
    </form>
</section>